<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Videojuego</title>
</head>
<body>
    <h1><%= videojuego.nombre %></h1>
    <p>Plataforma: <%= videojuego.plataforma %></p>
</body>
</html>
