<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videojuegos</title>
</head>
<body>
    <h1>Lista de Videojuegos</h1>
    <ul>
        <% videojuegos.forEach(videojuego => { %>
            <li><%= videojuego.nombre %> - <%= videojuego.plataforma %></li>
        <% }) %>
    </ul>
</body>
</html>
